.studio {
  text-align: center;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #fffbfb;
  padding: 50px;
  border-radius: 20px;
  margin: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.892);
}

.studio h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.studio p {
  font-size: 16px;
  color: #667;
  margin-bottom: 5px;
}

.studio a {
  color: #333;
  text-decoration: none;
}

.studio .Offers {
  margin-top: 20px;
}

.studio .Offers h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.studio .Offers ul {
  list-style: none;
  font-size: 16px;
  color: #667;
}

.studio .Offers ul:after {
  content: "✓ ";
  margin-right: 5px;
  color: #597359;
}

.studio .Offers p {
  font-size: 16px;
  color: #667;
  margin-top: 10px;
}
